#title {
 position: relative;
 left: 500px;
}

.container{
  display: grid;
  grid-template-columns: 700px 700px;
}

#left {
    position: relative;
    left: 50px;
}

#right {
    position: relative;
    left: 100px;
}

body {
    /*background-image: url("../images/storm.jpg");*/
    background-color: #cccccc;
}

#subtext {
    text-align: center;
}